/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.formulario-centrado {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos del formulario */
    padding: 20px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px; /* Ajusta este valor según el tamaño deseado */
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
