*{
    box-sizing: border-box;
}

body{
    background-color: rgb(229, 201, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* centra el elemento body */
    margin: 0;
}
.container{
    background-color: #FFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0; /* cambia el color para que observes el cambio */
    padding: 20px 40px;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
   border: 2px solid #f0f0f0;
   border-radius: 4px;
   display: block;
   font-size: 14px;
   font-family: inherit;
   padding: 10px
   ;
}

.form button{
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 5px;
    color: #f0f0f0;
    display: block;  
    font-size: 16px;  
    font-family: inherit;
    padding: 10px;
    width: 100%;


}